<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body class="container">

<h1>All Event Categories</h1>
<p th:unless="${categories} and ${categories.size()}">No categories!</p>
<table class="table table-striped">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="category : ${categories}">
        <td th:text="${category.id}"></td>
        <td th:text="${category.name}"></td>
    </tr>
    </tbody>
</table>
<nav th:replace="fragments :: navigation"></nav>

</body>
</html>
